
html {
    margin: 0;
    padding: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #dd2d4a;
}

.box {
    width: 6rem;
    height: 3.5rem;
    background-color: red;
    position: absolute;
    background-color: #cbeef3;
}
